{% extends "_layout.html" %}
{% block main %}
<form method="POST" enctype="multipart/form-data" id="form_login_as_guest"></form>
<!-- <div class="main"> -->
<div class="space_for_navbar_and_footer flex_center">

  <div class="home_page">
    <!-- <div class="title">
      <h1>Home</h1>
    </div> -->

    <div class="home_sub">

      <div class="std_framing home_framing">
        <h1>
          Kinetic Metrics NHTSA Dashboard
        </h1>


        <hr>
        <div class="home_sub_description">
          Discover Kinetic Metrics, your trusted resource for accessing a wide range of Recalls and Investigations data.
          Our intuitive dashboard brings together NHTSA's extensive dataset and our proprietary information, allowing you
          to gain valuable insights and make informed decisions. Delve into the dynamic realm of automotive recalls and
          investigations through our comprehensive platform, available exclusively at Kinetic Metrics.
        </div>

        <br>
        <div class="home_sub_what">
          <h3>What is this?</h3>
          Dashboard for adding notes, files, link records and add/remove records through a dashboard created specifically
          for this data.
          <br>
          The application produces an excel and csv file reports for sharing.
        </div>


        <br>
        <div class="home_sub_why">
          <h3>Why?</h3>
          There is a lot of information in these records provided by National Highway Traffic Safety Administration
          (NHTSA) interested parties may want to analyze this work by adding more metadata to these records and making
          links to the different reports.
        </div>


      </div>

      <div class="home_buttons">

        <button type="submit" class="div_button home_login_guest" name="login_as_guest" value=True form="form_login_as_guest">Login as Guest</button><br/>
	
        <a class="div_button home_register" href="{{ url_for('bp_users.register') }}">
          Register
        </a>

        <a class="div_button home_login" href="{{ url_for('bp_users.login') }}">
          Login
        </a>


      </div>

    </div>



  </div>
</div><!-- main -->


{% endblock %}