{% extends "_layout.html" %}
{% block title %} Investigations {% endblock %}
{% block main %}
<form method="POST" enctype="multipart/form-data" id="form_investigations_search"></form>
<form method="POST" enctype="multipart/form-data" id="form_investigations_table"></form>

<div class="space_for_navbar_and_footer">

    <div class="search_investigations_page">

        <div class="search" id="search">
            <div class="container std_framing">

                <!-- <form method="POST" action="" enctype="multipart/form-data"> -->
                <div class="search_heading_inv">
                    <h4>Search <u><b>Investigations</b></u></h4>
                </div>
                <div class="rows_search_form">
                    {% for db_name, criteria in column_names_dict.items() %}
                    {% if db_name in ('id','ODATE', 'CDATE','YEAR') %}
                    <div class=" search_item_group  ">

                        <div class="search_item_group_first_row_label">
                            {{ criteria }}
                        </div><!-- label_search_form -->

                        <div class="search_item_group_second_row">


                            {% if db_name == 'id' %}
                            <div class="text_search_form ">
                                <input type="text" class="form-control" name="{{ 'sc_' + db_name }}"
                                    value="{{ search_criteria_dictionary.get(db_name).0 }}"
                                    form="form_investigations_search">
                            </div><!-- text_search_form -->
                            {% elif db_name == 'YEAR' %}
                            <div class="text_search_form ">
                                <input type="text" class="form-control" name="{{ 'sc_' + db_name }}" placeholder="YYYY"
                                    value="{{ search_criteria_dictionary.get(db_name).0 }}"
                                    form="form_investigations_search">
                            </div><!-- text_search_form -->
                            {% else %}
                            <div class="text_search_form ">
                                <input type="text" class="form-control" name="{{ 'sc_' + db_name }}"
                                    placeholder="YYYY-MM-DD"
                                    value="{{ str(search_criteria_dictionary.get(db_name).0)[:10] }}"
                                    form="form_investigations_search">
                            </div><!-- text_search_form -->
                            {% endif
                            %}<!--if criteria in ('id','ODATE', 'CDATE','YEAR'); if criteria == 'id'; elif criteria == 'YEAR'-->
                            <div class="checkbox_search_form search_item_group_sub_min">
                                {% if search_criteria_dictionary.get(db_name).1 == "less_than" %}
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="less_than" checked=true form="form_investigations_search"> Less Than
                                </div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="exact" form="form_investigations_search"> Exact</div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="greater_than" form="form_investigations_search"> Greater Than</div>
                                {% elif search_criteria_dictionary.get(db_name).1 == "greater_than" %}
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="less_than" form="form_investigations_search"> Less Than</div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="exact" form="form_investigations_search"> Exact</div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="greater_than" checked=true form="form_investigations_search"> Greater
                                    Than </div>
                                {% else %}
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="less_than" form="form_investigations_search"> Less Than</div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="exact" checked=true form="form_investigations_search"> Exact</div>
                                <div class="radio_div"><input type="radio" name="{{ 'match_type_' + db_name }}"
                                        value="greater_than" form="form_investigations_search"> Greater Than</div>
                                {% endif
                                %}<!--if search_criteria_dictionary.get(criteria).1 == "less_than"; get(criteria).1 == "greater_than" -->
                            </div><!-- checkbox_search_form -->

                        </div><!-- search_item_group_second_row-->

                    </div><!-- search_item_group -->
                    {% else %}<!--if db_name in ('Dash ID','ODATE'/(Open Date), 'CDATE','YEAR')-->


                    <div class=" search_item_group hundred_flex and_wrap">
                        <div class="label_search_form search_item_group_sub_min hundred_flex">
                            {{ criteria }}
                        </div>

                        {% if db_name == 'MAKE' %}
                        <div class="text_search_form ">
                            <input type="text" class="text_input form-control" name="{{ 'sc_' + db_name }}"
                                list="makeList" value="{{ search_criteria_dictionary.get(db_name).0 }}"
                                form="form_investigations_search">
                            <datalist id="makeList">
                                {% for i in make_list %}
                                <option>{{ i }}</option>
                                {% endfor %}
                            </datalist>
                        </div>

                        {% else %}
                        <div class="text_search_form ">
                            <input type="text" class="form-control" name="{{ 'sc_' + db_name }}"
                                value="{{ search_criteria_dictionary.get(db_name).0 }}"
                                form="form_investigations_search">
                        </div>
                        {% endif %}<!--if criteria == 'MAKE'-->

                        <div class="checkbox_search_form search_item_group_sub_min">
                            {% if search_criteria_dictionary.get(criteria).1 == "exact" %}
                            <input type="checkbox" name="{{ 'match_type_' + db_name }}" value="exact" checked=true
                                form="form_investigations_search"> Exact
                            {% else %}
                            <input type="checkbox" name="{{ 'match_type_' + db_name }}" value="exact"
                                form="form_investigations_search"> Exact
                            {% endif %}<!--if search_criteria_dictionary.get(criteria).1 == "exact"-->
                        </div>
                    </div>
                    {% endif %}<!--if criteria in ('NHTSA Number', 'MAKE','MODEL'), elif criteria not in ('id') -->
                    {% endfor %}<!-- { for criteria in column_names } -->


                    <!--START -verified by search input -->
                    <div class="dict_search search_item_group">
                        <div class="label_search_form search_item_group_sub_min">
                            Verified by
                        </div>
                        <div class="text_search_form ">
                            <input type="text" class="text_input form-control" name="sc_user" list="userList"
                                value="{{ search_criteria_dictionary.get('user').0 }}"
                                form="form_investigations_search">
                            <datalist id="userList">
                                {% for i in user_list %}
                                <option>{{ i }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div></div>
                    </div>
                    <!--END -verified by search input -->

                    <!-- Add Categories search input box-->
                    {% for x,y in category_dict.items() %}
                    <div class="dict_search search_item_group">


                        <div class="label_search_form">
                            KM {{ x }}:
                        </div>
                        <div class="text_search_form">
                            <input type="text" class="text_input form-control" name="{{ 'sc_' + x }}"
                                list="categoryList" value="{{ y.0 }}" form="form_investigations_search">
                            <datalist id="categoryList">
                                {% for i in category_list %}
                                <option>{{ i }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        {% if len(category_dict)>1 %}
                        <div class="checkbox_search_form">
                            <!--No checkbox becuase it would be very difficult to exact filter on column with so much csv data-->
                            <input type="submit" class="search_remove_category_button form-control"
                                name="remove_category" value="{{ x }}" form="form_investigations_search">
                        </div>
                        {% else %}
                        <div></div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div class="search_buttons_group">
                        <div class=" search_buttons_group_sub">
                            <input type="submit" class=" btn_width btn btn-primary" name="add_category"
                                value="Add Category" form="form_investigations_search">
                        </div><!-- add_cateogry_button -->

                        <div class="search_button search_buttons_group_sub">
                            <div class="btn_div">
                                <input type="submit" name="refine_search_button" value="Refine Search"
                                    form="form_investigations_search" class="btn_width btn btn-info ">
                            </div>

                            <div class="search_checkbox">
                                {% if limit_flag=='true' %}
                                <input type="checkbox" name="limit_flag" value="true" checked={{ limit_flag }}
                                    form="form_investigations_search"> Limit to 100 records
                                {% else %}
                                <input type="checkbox" name="limit_flag" value="true" form="form_investigations_search">
                                Limit to 100 records
                                {% endif %}
                            </div>

                        </div><!-- search_button -->
                    </div>

                </div>

                <!-- </form> -->
            </div>
        </div>



        <div class="search_table">
            <div class="container">
                <!-- <form method="POST" action="" enctype="multipart/form-data"> -->
                {% if no_hits_flag %}
                No Investigations found with selected criteria
                {% else %}
                <div class="table_contents">
                    <table id="proxies" class="display table nowrap responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Dash Id</th>
                                {% for name in column_names %}
                                {% if name=='NHTSA_ACTION_NUMBER' %}
                                <th>NHTSA Action Number</th>
                                {% elif name!='id' %}
                                <th>{{name}}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                            <tr>
                                <td><input type="submit" class="dash_id_button" name="view"
                                        value="{{ row[column_names[0]] }}" form="form_investigations_search"></td>
                                {% for index in range(1,len(column_names)) %}
                                <td>
                                    <div class="td_characteristics">
                                        {{ row[column_names[index]] }}
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}

                <!-- </form> -->
            </div>
        </div>
    </div>
</div>



<!-- Datatable -->
<script src="../static/customAndOldFiles/js/jquery-3.1.1.slim.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/customAndOldFiles/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="../static/customAndOldFiles/css/responsive.dataTables.min.css">
<script src="../static/customAndOldFiles/js/moment.min.js"></script>
<script type="text/javascript" src="../static/customAndOldFiles/js/jquery.dataTables-1.1.20.min.js"></script>
<script type="text/javascript" src="../static/customAndOldFiles/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="../static/customAndOldFiles/js/datetime.js"></script>



<!-- for modals-->
<script src="../static/customAndOldFiles/js/bootstrap.min.js"></script>


<script type="text/javascript">
    $('#proxies').DataTable();
</script>

{% endblock %}