<div class="modal-dialog database_delete_data" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure you want to delete all the data? </h5>
      <!-- <button type="button" id="close_button" class="btn btn-secondary">&times;</button>
      <button type="submit" name="btn_comment2" value="true"class="btn btn-primary" form="form_modal_post">Post</button> -->
    </div>
    <div class="modal-body">
      
      <!-- <input type="text" class="form-control hide_textbox" id="recipient-name" name="post_id" form="form_modal_comment" readonly> -->
      <!-- <input type="text" class="form-control " id="recipient-name" name="post_id" form="form_modal_comment" > -->
      <!-- <input type="text"  name="comment_on_post_id" id="recipient-name" form="form_modal_comment" > -->
      <!-- <input type="text" class="form-control hide_textbox" id="recipient-name" name="comment_on_post_id" form="form_modal_comment" readonly> -->
      <!-- Text box -->
      <!-- <textarea class="form-control" name="comment_text" form="form_modal_comment"></textarea>
       -->
       Enter "delete" to verify:
       <input type="text" class="form-control" name="database_delete_verify" placeholder="Enter database name"
       form="form_modal_delete">

    
    </div>
    <div class="modal-footer">
      
      <button type="submit" name="btn_database_delete" value="true" class="btn btn-warning " 
      form="form_modal_delete">Delete</button>

    </div>
  </div>
</div>