/* Search Investigaitons Page */
.search_investigations_page {
  .search {
    // width: 100%;
    // padding: 1rem 0rem;
  }

  .rows_search_form {
    // display: flex;
    // flex-wrap: wrap;
    width:100%;
  }

  .search_item_group {
    padding: 0.5rem 0rem;
    align-items: center; /* Align items vertically in the middle */
  }
  .search_item_group_first_row_label{
    // background-color: olivedrab;
    width: 100%;
  }
  .search_item_group_second_row{
    display:flex;
    // background-color: pink;
    // flex-wrap: nowrap;
    width:100%;
  }
  .search_item_group_sub_min{

  }
  .lower_label{

  }

  .text_search_form{
    // flex-grow: 1;
    flex: 1 1 auto; /* Updated flex property */
  }


  .search_checkbox {

  }
  .radio_div {
    font-size: small;
  }


  .search_buttons_group {
    // width: 100%;
    // padding-bottom: 1rem;
  }
  .search_buttons_group_sub {
    // width: 100%;
    // display: flex;
    // justify-content: end;
    // flex-wrap: wrap;
    // padding: 1rem;
  }
  .btn_width {
    // width: 10rem;
  }

}

/* Dashboard Investigations */
.dashboard_investigations_page {
  .dashboard {
    display: flex;
    flex-wrap: wrap;
  }

  .title_and_stuff {
    padding-top: 2rem;
  }

  // .title_for_this_investigation {
  //   padding-top:2rem;
  // }
  .investigation_entry_top {
    width: 100%;
  }

}



@media screen and (min-width: 768px) {
/* Search Investigaitons Page */
.search_investigations_page {











  // .search {
  //   width: 100%;
  //   padding: 1rem 0rem;
  // }

  // .rows_search_form {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  // .search_item_group {
  //   padding: 0.5rem 0rem;
  //   align-items: center; /* Align items vertically in the middle */
  // }
  .text_search_form{
    // flex-grow: 1;
    flex: 1 1 auto; /* Updated flex property */
  }
  .search_item_group_second_row{
    // display:flex;
    // background-color: pink;
    flex-wrap: nowrap;
    // width:100%;
  }
  // .search_item_group_sub_min{
  //   flex: 0 0 auto;
  // }
  // .lower_label{
  //   margin-bottom: -0.5rem;
  // }

  // .text_search_form{
  //   // flex-grow: 1;
  //   flex: 1 1 auto; /* Updated flex property */
  // }


  // .search_checkbox {
  //   width: 100%;
  //   display: flex;
  //   justify-content: end;
  // }
  // .radio_div {
  //   // width: fit-content;
  //   // background-color: lightblue;
  //   // padding: 5px;
  //   // margin-bottom: 5px;
  //   font-size: small;
  // }
  
  // // .radio_div:last-child {
  // //   margin-bottom: 0;
  // // }

  // .search_buttons_group {
  //   width: 100%;
  //   padding-bottom: 1rem;
  // }
  // .search_buttons_group_sub {
  //   width: 100%;
  //   display: flex;
  //   justify-content: end;
  //   flex-wrap: wrap;
  //   padding: 1rem;
  // }
  // .btn_width {
  //   width: 10rem;
  // }

}
}